@model IEnumerable<GBC_Travel_Group_42.Areas.BookingManagement.Models.BookFlight>

@if (Model.Any())
{
	<h2 class="center-text">My Flight Bookings</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Origin</th>
				<th>Destination</th>
				<th>Departure Date</th>
				<th>Arrival Date</th>
				<th>Price</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var flightBooking in Model)
			{
				<tr>
					<td>@flightBooking.Flight?.Origin</td>
					<td>@flightBooking.Flight?.Destination</td>
					<td>@flightBooking.Flight?.DepartureDateTime</td>
					<td>@flightBooking.Flight?.ArrivalDateTime</td>
					<td>$@flightBooking.Flight?.Price</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>You have no flight bookings currently.</p>
}
