################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GBC_Travel-Group-42/GBC_Travel-Group-42/.vs/GBC_Travel-Group-42/FileContentIndex
