@model GBC_Travel_Group_42.Models.Hotel

@{
    ViewData["Title"] = "Create";
}
<div class="form-box">
    <h1>Create Hotel</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="HotelName" class="control-label"></label>
                    <input asp-for="HotelName" class="form-control" />
                    <span asp-validation-for="HotelName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HotelLocation" class="control-label"></label>
                    <input asp-for="HotelLocation" class="form-control" />
                    <span asp-validation-for="HotelLocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PricePerNight" class="control-label"></label>
                    <input asp-for="PricePerNight" class="form-control" />
                    <span asp-validation-for="PricePerNight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label"></label>
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaximumOccupancy" class="control-label"></label>
                    <input asp-for="MaximumOccupancy" class="form-control" />
                    <span asp-validation-for="MaximumOccupancy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
